main {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
}
h1 {
    font-size: 45px;
}
p {
    font-size: 27px;
}
.containerGrid {
    display: grid;
    grid-auto-columns: 65% 5% 30%;
    grid-template-areas: "text . img";
}
section {
    grid-area: text;
}
img[alt="Panais"] {
    grid-area: img;
    width: 100%;
    position: relative;
    top: -90px;
    right: 0px;
}
@media only screen and (max-width: 1007px) {
    p {
        font-size: 17px;
    }
    h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 640px) {
    img[alt="Panais"] {
        display: none;
    }
    .containerGrid {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-areas: "text";
    }
}